<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');
=======
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
>>>>>>> 7a3663e7552d30f68f9013e5422f8a643d29c399

@tailwind base;
@tailwind components;
@tailwind utilities;

<<<<<<< HEAD
a.active hr{
    display: block;
}

*{
    font-family: Outfit;
}

.prata-regular {
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
  }

  ::-webkit-scrollbar{
    display: none;
  }
  
  @media (max-width:640px) {
    a.active{
        background-color: black;
        color: white;
    }
  }
=======
* {
  font-family: Outfit;
}

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

a.active hr {
  display: block;
}

::-webkit-scrollbar {
  display: none;
}

@media (max-width:640px) {
  a.active {
    background-color: black;
    color: white;
  }
}
>>>>>>> 7a3663e7552d30f68f9013e5422f8a643d29c399
